<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Створити департамент</title>
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <div class="container mt-5">
    <h2>Створити новий департамент</h2>

    <form th:action="@{/departments/create}" method="post">
      <div class="form-group">
        <label for="departmentName">Назва департаменту</label> <input
          type="text" id="departmentName" name="departmentName"
          class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary">Створити</button>
      <a href="/departments" class="btn btn-secondary">Скасувати</a>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
