<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Teachers</title>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Teachers</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="teacher : ${teachers}">
          <td th:text="${teacher.teacherId}">ID</td>
          <td th:text="${teacher.firstName}">First Name</td>
          <td th:text="${teacher.lastName}">Last Name</td>
          <td><a
            th:href="@{/teachers/edit/{id}(id=${teacher.teacherId})}"
            class="btn btn-warning">Edit</a></td>
        </tr>
      </tbody>
    </table>
    <a href="/teachers/new" class="btn btn-primary">Add Teacher</a>
  </div>
</body>
</html>
