<!DOCTYPE html>
<html>
<head>
<title>Users</title>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Users</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.userId}"></td>
          <td th:text="${user.username}"></td>
          <td><a th:href="@{/users/edit/{id}(id=${user.userId})}"
            class="btn btn-warning">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
